body {
  color:#f0f0ff;
  background-color:#101000;
  font-family:monospace;
  max-width:1024px;
  margin:auto;
  }
header, footer {
  color:#ff6622;
  }
table, th, td {
  border:1px solid #554433;
  border-collapse:collapse;
  padding:2px;
  }
h1, p {
color: #f0f0ff;
  }
h2{
  color: #8888ff;
  }
a:link {
  color: #00ff00;
  }
a:visited {
  color: #00bb00;
  }
a:hover {
  color: #ff6622;
  }
img {
  image-rendering:pixelated;
  }
  
  {

  dark orange = header and footer (more "permanent" stuff)
  #ff6622
  lime = hyperlinks
  #00ff00
  cornflower blue = side info / less important / descriptions
  #8888ff
  white = everything else
  
  }
