body {
  color:#f0f0ff;
  background-color:#101000;
  font-family:monospace;
  max-width:1024px;
  margin:auto;
  }
header {
  color:#ff6622;
  }
footer {
  color:#ff6622;
  }
a:link {
  color: #00ff00;
  }
a:visited {
  color: #00bb00;
  }
a:hover {
  color: #00ff00;
  }
img {
  image-rendering:pixelated;
  }
table, th, td {
  border:1px solid #554433;
  border-collapse:collapse;
  padding:2px;
  }
