body{
  text-align: left;
  background-color: #ffffff;
  color: #000000;
  margin: 0px;
  border: 80px solid #f0f0e0;
  padding-left: 160px;
  padding-right: 160px;
}

div {
  background-color: #e8ffff;
  width:auto;
  margin:auto;
}
