body{
  text-align: ;
  background-color: ;
  color: ;
  margin: ;
  border: ;
  padding-left: ;
  padding-right: ;
}

div {
  background-color: ;
  width: ;
  margin: ;
}

table{
  background-color:black;
}
td, tr, th{
  background-color:white;
}

